<html lang="ja">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" type="image/png" href="/sprite/guild_icon.png">
        <meta content="Arkプレイヤーの集い" property="og:title" />
        <meta content="Steam版の非公式サーバー運営中 MB/CS大歓迎" property="og:description" />
        <meta content="http://ark-tsudoi.f5.si/" property="og:url" />
        <meta content="/sprite/guild_icon.png" property="og:image" />
        <meta content="#409fff" data-react-helmet="true" name="theme-color" />
        <title>Arkプレイヤーの集い - ^^ self.ctx.title ^^</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Noto+Sans+JP&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/style/body.css?last_updated=^^ str(__import__('time').time()) ^^">
        <link rel="stylesheet" href="/style/header.css">
        <script>
            // 外部リンクを`target=_blank`にして新しいタブで開くようにする。
            window.onload = function () {
                let url;
                for (element of document.getElementsByTagName("a")) {
                    url = element.getAttribute("href");
                    if (!url) continue;
                    if (!url.startsWith(window.location.origin) && url.startsWith("http"))
                        element.setAttribute("target", "_blank");
                };
            };
        </script>
        ^^ self.ctx.head ^^
    </head>
    <body>
        <header id="header">
            <div class="logo"><a href="/">Arkプレイヤーの集い</a></div>
        </header>
        <hr class="content_border">
        <div id="root">
            ^^
            # メンションを青くする。
            did = set()
            for item in self.content.split(" "):
                if item in did:
                    continue
                for prefix in self.MENTION_PREFIXES.keys():
                    if item.startswith(prefix):
                        self.content = self.content.replace(
                            f" {item} ", self.mtn(item.replace(
                                prefix, self.MENTION_PREFIXES[prefix], 1
                            ))
                        )
                        did.add(item)

            self.content
            ^^
        </div>
    </body>
</html>
