html{
    min-height: 100%;
}

a {
    cursor:pointer;
}

img {
    max-width: 80vw;
}


.main_content_frame{
    margin: 0%;
    padding: 0%;
    border: 0px #fff solid;
    width: 100%;
    height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    color: #fff;
    background: linear-gradient(to bottom right, #0b0f35,#146377) fixed;
    margin: 0px;
    padding: 0px;
    background-size: 1200% 1200%;
    animation: Gradietion 30s linear infinite;
}

code {
    background: rgba(0, 0, 0, 0.1);
    padding: 3px;
}

table {
    border-collapse: collapse;
}

th, td {
    padding: 5px;
}

@keyframes Gradietion { 
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}

/* rootのベーススタイル */
#root{
        margin: 0%;
        padding: 8px;
        width: calc(100% - 16px);
        min-height: calc(100% - 46px - 16px - 16px);
        overflow-wrap: break-word;
        position: absolute;
}

/* 各テーマごとの主に色スタイル */
@media (prefers-color-scheme: dark) {
    #root{
        background-color: #36393f;
        color: #dcddde;
    }
    #root a{
        color: #66aef5;
        text-decoration: none;
    }
    #root a:hover{
        color: #66aef5;
        text-decoration: underline;
    }
    .mention{
        background-color: #414675;
        color:#dee0fc;
    }
    th, td{
        border: solid 1px #fff;
    }
    table{
        color: #fff;
    }
    summary{
        color: #abcdfa;
        text-decoration: underline;
    }
}

@media (prefers-color-scheme: light) {
    #root{
        background-color: #fff;
        color: #000;
    }
    #root a{
        color: #429bf5;
        text-decoration: none;
    }
    #root a:hover{
        color: #429bf5;
        text-decoration: underline;
    }
    .mention{
        background-color: #e6e8fd;
        color:#505cdc;
    }
    th, td{
        border: solid 1px #000;
    }
    table{
        color: #fff;
    }
    summary{
        color: #abcdfa;
        text-decoration: underline;
    }
}


.hashtag{
    color: #1b7ec2;
}

.video{
    max-width: 90vw;
    width: 560px;
    max-width: 90vw;
    height: 315px;
}
